@{
    ViewData["Title"] = "Home Page";
}

<div class="page-header">
    <div>
        <h1 class="page-title">Home</h1>
        <p class="page-description">Tela inicial do Projeto</p>
    </div>
    <div>
        <a class="btn btn-primary" asp-controller="Customer" asp-action="Index" role="button">
            Lista de Clientes
            <i class="bi bi-person-lines-fill"></i>
        </a>
    </div>
</div>