html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.page-description {
    text-transform: uppercase;
    color: gray;
}

.submenu-title {
    color: lightgray;
    font-size: 16px;
    text-transform: uppercase;
}