html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.page-description {
    text-transform: uppercase;
    color: gray;
}

.submenu-title {
    color: lightgray;
    font-size: 16px;
    text-transform: uppercase;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-check-input {
    height: 30px;
    width: 30px;
}

.password-container {
    position: relative;
}

.password-view-toggle {
    position: absolute;
    top: 3px;
    right: 3px;
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}